body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    height: 60vw;
}

.btn-fp,
.btn-fp:focus,
.btn-fp:active,
.btn-fp:link,
.btn-fp:visited,
.btn-fp:target {
    background: none;
    border: none;
    outline: none;
}

#sandbox-container {
    display: inline-block;
    margin-left: 2vh;
}

.checkbox {
    padding: 1vh 1vh;
}

.glyphicon:hover {
    color: #8cc63f;
}

.background-city {
    background-image: url('../images/background_city.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 50px;
    z-index: -1;

}

.navibar-top {
    padding-top: 5px;
    background-color: #878787;
    position: relative;
}

.naviBar{
    height: 70px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.logo-container {
    position: absolute;
    margin-left: 15%;
}

span.logo-planner {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 32px;
}

span.logo-fun {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

span.logo-ikon {
    font-size: 30px;
    color: #8cc63f;
}

.glyphicon-star-empty {
    font-size: 1.2em;
    color: #c3c3c3;
}

.star {
    padding-top: 10px;
    font-size: 0.8em;
}

.star-fill {
    color: #ffa400;
}

.list-element {
    text-align: center;
    background-color: #fafafa;
    border: solid 1px #8cc63f;
    margin: 10px 0;
    padding: 0 10px;
    box-shadow: 0 0 6px #8cc63f;
    min-width: 50%;

}

.list-element:hover {
    background-color: #f2f2f2;
}

.drag:hover {
    cursor: move;
}

.list-box {
    min-height: 850px;
    overflow: hidden;
    position: relative;
}

#week-columns {
    overflow: hidden;
    width: 90%;
    float: left;
    max-height: 656px;
}

.weekday {
    color: #8cc63f;
    font-size: 1.3vw;
    text-transform: uppercase;
}

#cols-wrapper {
    width: 200%;
}

.calendar-column {
    text-align: center;
    float: left;
    display: inline;
    width: 10%;
    border-left: dashed 1px #828282;
    padding: 15px;
    min-height: 1000px;
    font-size: 1.5vw;
}



.calendar-column:last-child {
    border-right: dashed 1px #828282;
}

.signOut {
    background-color: #8cc63f;
    color: white;
    margin-top: 8px;
    margin-bottom: 13px;
    float: right;
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.googleButton {
    margin-top: 8px;
    margin-bottom: 13px;
    float: right;
}
.navigation {
    min-height: 320px;
    width: 5%;
    z-index: 1000;
    position: relative;
}

.left-navi {
    text-align: center;
    float: left;
    width: 5%;
    position: relative;
    left: -10px;
    z-index: 10;
}
.right-navi {
    text-align: center;
    float: right;
    width: 5%;
    position: relative;
    z-index: 10;

}

.arrow {
    float: left;
    display: inline;
    font-size: 300%;
    color: #878787;

}

.dabble-arrow {
    float: left;
    padding: 0 10px;
    display: inline;
    font-size: 150%;
    color: #878787;
}

.clear {
    clear: both;
}

.calendar-position {
    float: right;
    width: 70.67%
}

.btn-trash {
    visibility: hidden;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.btn-trash-show {
    visibility: visible;
}
.eventText {
    font-size: 1vw;
    margin-top: 10px;
    text-align: center;

}
.agendaRwd{
    font-size: 2vw;
}
.agenda {
    border-left: dashed 1px #828282;
    border-right: dashed 1px #828282;
    float: left;
    position: absolute;
    width: 23%;
    text-align: center;
    padding: 15px 15px 70px 15px;
    max-height: 850px;

    font-size: 1.2vw;
    margin-left: 6%;
    color: #8cc63f;
}

.scrollAgenda{

    max-height: 400px;
}
.event-sorting {
    width: 100%;
    min-height: 430px;
    padding: 0 0px;
    color: black;
}


.footer {
    font-size: 90%;
    color: #8c8c8c;

}

.fb-twit i {
    font-size: 30px;
    color: #8cc63f;
    margin-right: 10px;
}

.fa-facebook {
    float: left;
}

.fa-twitter {
    float: right;
}

.logo-scrumboys {
    width: auto;
    height: 20px;
    vertical-align: -2px;
}

#map {
    height: 500px;
    position: absolute;
    left: -100%;
    margin-bottom: 2%;
    width: 60%;
}

.active a {
    color: pink;
    text-decoration: none;
}

.infoWindowContent {
    font-size:  14px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

.btn-success {
    margin-bottom: 9px;
    margin-top: 11px;
    background-color: #8cc63f;
}
#button-map, #hide-button-map{
    width: 150px;
}

@media screen and (max-width:767px) {
    .right-navi {
        width: 9%;
    }
    .left-navi {
        width: 20%;
        margin-left: 9px;
        padding-left: 37px;
    }
    .calendar-column {
        width: 49%;
        border: none;
    }
    #week-columns {
        width: 67%;
    }
    .rightArrow {
        margin-right: 40px;
    }
    .weekday {
        font-size: 3.3vw;
    }
    h3{
        font-size: 3vw;
    }
    h5{
        font-size: 1.2vw;
    }
    .dabble-arrow {
        visibility: hidden;
    }
    #startDate {
        margin-right: 50px;
    }
    .agenda {
        width: 38%;
        margin-left: 2%;
    }
    .agendaRwd{
        font-size: 3vw;
    }
    .eventText {
        font-size: 1.9vw;
    }
    .arrow {
        font-size: 150%;
    }
    #button-map, #hide-button-map{
        width: 90px;
        font-size: 2vw;
    }

}

@media screen and (min-width:768px) and (max-width: 1200px) {
    .calendar-column {
        width: 16.5%;
    }
    .rightArrow {
        margin-right: 40px;
    }
    .padingArrow {
        padding: 0px;
    }
    .arrow {
        font-size: 200%;
    }
    .dabble-arrow{
        font-size: 110%;
    }

}